name: 2-worker-deploy_on-cluster

on:
  workflow_run:
    workflows: ["1-worker-build-publish-image"]  # Name of the workflow to depend on
    types:
      - completed

jobs:
  build:
    name: 2-worker-deploy - ${{ github.event.head_commit.message }}

    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: install GKE
        run: |
          echo "deb [signed-by=/usr/share/keyrings/cloud.google.gpg] https://packages.cloud.google.com/apt cloud-sdk main" | sudo tee -a /etc/apt/sources.list.d/google-cloud-sdk.list
          curl https://packages.cloud.google.com/apt/doc/apt-key.gpg | sudo apt-key --keyring /usr/share/keyrings/cloud.google.gpg add -
          sudo apt update
          sudo apt-get install google-cloud-sdk-gke-gcloud-auth-plugin kubectl
          export USE_GKE_GCLOUD_AUTH_PLUGIN=True

      - name: Set up Google Cloud SDK
        uses: google-github-actions/auth@v2
        with:
          credentials_json: '${{ secrets.GCP_SA_KEY }}'

      - name: Install yq
        run: sudo apt-get install -y yq

      - name: Set up gcloud CLI
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: your-gcp-project-id

      - name: Get GKE credentials
        run: |
          gcloud container clusters get-credentials ${{ secrets.GCP_CLUSTERNAME }} --region ${{ secrets.GCP_REGION }}

      - name: Deploy to Kubernetes
        run: |
          kubectl apply -f deployment-worker.yaml -n camunda
          DEPLOYMENT_NAME=$(yq '.metadata.name' deployment-worker.yaml | tr -d '"')
          echo "Deployment detected [$DEPLOYMENT_NAME]"
          kubectl rollout restart deployment "$DEPLOYMENT_NAME" -n camunda
