name: 'sm-deploy-bpmn'

on:
  push:
    paths:
      - 'src/main/resources/*.bpmn' # match '*.bpmn' files (created or updated)
      - 'src/main/resources/*.dmn' # match '*.bpmn' files (created or updated)

jobs:
  prepare-files:
    runs-on: ubuntu-latest
    outputs:
      matrix-added: ${{ steps.file-changes.outputs.files_added }}
      matrix-modified: ${{ steps.file-changes.outputs.files_modified }}
    steps:
      - id: file-changes
        uses: trilom/file-changes-action@v1.2.4

  deploy-modified-files:
    if: ${{ needs.prepare-files.outputs.matrix-modified != '[]' }}
    needs: [prepare-files]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        file: ${{ fromJSON(needs.prepare-files.outputs.matrix-modified) }}
    steps:
      - name: Check Out Reference File
        uses: Bhacaz/checkout-files@v2
        with:
          files: ${{ matrix.file }}

      - name: Display files to deploy
        run: |
          echo file[${{ matrix.file }}] from workspace[${{ github.workspace }}] to server[${{ secrets.ZEEBE_REST_ADDRESS }}] # to verify if the correct file was passed
          echo trick_2  ${{secrets.ZEEBE_REST_ADDRESS}} | sed 's/./& /g'
          ls ${{ github.workspace }}/${{ matrix.file }}

      - name: Deploy to Zeebe
        run: |
          curl -X POST "${{ secrets.ZEEBE_REST_ADDRESS }}/v2/deployments" -F "resources=@${{ github.workspace }}/${{ matrix.file }}"

  deploy-new-files:
    if: ${{ needs.prepare-files.outputs.matrix-added != '[]' }}
    needs: [prepare-files]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        file: ${{ fromJSON(needs.prepare-files.outputs.matrix-added) }}
    steps:
      - name: Check Out Reference File
        uses: Bhacaz/checkout-files@v2
        with:
          files: ${{ matrix.file }}

      - name: Display files to deploy
        run: |
          echo file[${{ matrix.file }}] from workspace[${{ github.workspace }}} to server[${{ secrets.ZEEBE_REST_ADDRESS }}] # to verify if the correct file was passed

      - name: Deploy to Zeebe
        run: |
          curl -X POST "${{ secrets.ZEEBE_REST_ADDRESS}}/v2/deployments" -F "resources=@${{ github.workspace }}/${{ matrix.file }}"